body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
    background: #0e1217;
    color: #e4e8ef;
}

.navbar {
    width: 90%;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}
.nav-links a:hover {
    color: rgb(190, 186, 188);
}
.logo {
    font-size: 22px;
    font-weight: 700;
    color: #cd0b6f85;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #cfd6e4;
    font-size: 15px;
}


.title {
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
}


.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1100px; 
    margin: 60px auto;  
    gap: 20px;
    padding: 20px;

}

.card {
    background: #1a202e;
    padding: 20px;
    border: 1px solid #1f2632;
    box-shadow: 0px 2px 10px #00000040;
    border-radius: 20px;
}

.card h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 25px;
}

.timeline {
    display: flex;
    align-items: start;
    gap: 15px;
    margin-bottom: 20px;
}

.dot {
    width: 12px;
    height: 12px;
    background: #cd0b6f85;
    border-radius: 50%;
    margin-top: 6px;
}

.sub {
    color: #7f89a5;
    font-size: 14px;
}

.lang-item {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #1f2632;
}

.level {
    color: #cd0b6f85;
}

.tags{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

}
.tags span {
    background: #cd0b6f85;
    padding: 7px 15px;
    border-radius: 20px;
    font-size: 14px;
    color: white;
}
