body {
    font-family: 'Inter', sans-serif;
    background: #0d0f16;
}

.navbar {
    width: 90%;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.nav-links a:hover {
    color: rgb(190, 186, 188);
}
.logo {
    font-size: 22px;
    color: #cd0b6f85;
    font-weight: 700;
}

.nav-links {
    list-style: none;
    gap: 25px;
    display: flex;

}

.nav-links a {
    text-decoration: none;
    color: #cfd6e4;
    font-size: 15px;
}

.hero {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.card {
    background: #131720;
    padding: 60px 40px;
    border-radius: 25px;
    width: 65%;
    box-shadow:  40px rgba(0, 0, 0, 0.4);
}
.title  {
    font-size: 52px;
    font-weight: 800;
    background: linear-gradient(60deg, #73a4ff, #5e0a41);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.subtitle {
    font-size: 22px;
    margin-top: 15px;
    color: #c9c9c9;
}

.description {
    margin: 25px auto;
    width: 70%;
    line-height: 1.6;
    color: #b3b3b3;
}

.buttons {
    margin-top: 30px;

}
.btn {
    padding: 12px 25px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    margin: 10px;
}
.btn:hover {
    box-shadow: 0 0 30px rgba(147,51,234,0.7);
}

.primary {
    background: #5e0a41;
    color: white;
    box-shadow: 0 0 15px #5e0a41;

}

.outline {
    border: 1px solid #5e0a41;
    color: #e9dde5;
}
.footer {
    background-color: #0d0f16;
    color: #e4e8ef;
    padding: 25px 0;
    text-align: center;
}

.footer p {
    margin-bottom: 15px;
    font-size: 14px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-icons a {
    width: 40px;
    height: 40px;
    background: #1f2933;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    transition: 0.1s;

}

.social-icons a:hover {
    background: #5e0a41;
    transform: translateY(-4px);

}
.clickable-photo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid #5e0a41;
}

.clickable-photo:hover {
    box-shadow:  0 0 25px #5e0a41 ;
}
.email-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #5e0a41;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5e0a41;
    font-size: 22px;
    text-decoration: none;
    transition: 0.3s ease;
}

.email-icon:hover {
    background: #5e0a41;
    color: white;
    transform: scale(1.1);

}
